<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TEDxAshokaUniversity</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/X.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <style>
    #header {
     background:rgba(0, 0, 0, 0.98);
    }
  </style>

  <!-- =======================================================
  * Template Name: TheEvent - v3.0.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#intro">The<span>Event</span></a></h1>-->
        <a href="/" class="scrollto"><img src="assets/img/TEDxAshokaUni.png" alt="" title="" width="275"></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="menu-active"><a href="/speakers">Speakers</a></li>
          <li><a href="/event">Event</a></li>
          <li><a href="/partners">Partners</a></li>
          <li><a href="/register">Registration</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Intro Section ======= -->


  <main id="main">

    <!-- ======= Subscribe Section ======= -->
    <section id="subscribe">
      <div class="container" data-aos="zoom-in">
        <div style="margin-top:100px" class="section-header">
          <h2>Nominate a Speaker</h2>
          <p>Rerum numquam illum recusandae quia mollitia consequatur.</p>
        </div>

      </div>
    </section><!-- End Subscribe Section -->
    <!-- ======= Speakers Section ======= -->
    <!-- <section id="speakers">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Event Speakers</h2>
          <p>Discover our amazing community of speakers and performers</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="assets/img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a data-bs-toggle="modal" data-bs-target="#speaker1" href="speaker-details.html">Brenden Legros</a></h3>
                <p>Quas alias incidunt</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/img/speakers/2.jpg" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a data-bs-toggle="modal" data-bs-target="#speaker2" href="speaker-details.html">Hubert Hirthe</a></h3>
                <p>Consequuntur odio aut</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="assets/img/speakers/3.jpg" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a data-bs-toggle="modal" data-bs-target="#speaker3" href="speaker-details.html">Cole Emmerich</a></h3>
                <p>Fugiat laborum et</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
              <img src="assets/img/speakers/4.jpg" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a data-bs-toggle="modal" data-bs-target="#speaker4" href="speaker-details.html">Jack Christiansen</a></h3>
                <p>Debitis iure vero</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/img/speakers/5.jpg" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a data-bs-toggle="modal" data-bs-target="#speaker5" href="speaker-details.html">Alejandrin Littel</a></h3>
                <p>Qui molestiae natus</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="300">
              <img src="assets/img/speakers/6.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a data-bs-toggle="modal" data-bs-target="#speaker6" href="speaker-details.html">Willow Trantow</a></h3>
                <p>Non autem dicta</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section> --><!-- End Speakers Section -->

    <div style="background: rgba(0, 0, 0, 0.8);" class="modal fade speakers" id="speaker1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div style="transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);" class="modal-content">
          <div class="modal-header">
                                     
            <h5 style="
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;"class="modal-title" id="exampleModalLabel">Dr. Brenden Legros</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="padding:30px;padding-top: 0px;">
            <img style="width:100%;height:60%;margin:auto;margin-top:20px;margin-bottom:10px" src="assets/img/speakers/1.jpg" alt="Speaker 6" class="img-fluid">
            <p style="margin-bottom: 10px;font-style: italic;">
                Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
                Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam.
                Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
                Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam. 
                Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.              </div>
            </p> 
        </div>
      </div>
    </div>

    <div style="background: rgba(0, 0, 0, 0.65);" class="modal fade speakers" id="speaker2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div style="transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);" class="modal-content">
          <div class="modal-header">
            <h5 style="
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;"class="modal-title" id="exampleModalLabel">Dr. Brenden Legros</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="padding:30px;padding-top: 0px;">
            <img style="width:100%;height:60%;margin:auto;margin-top:20px;margin-bottom:10px" src="assets/img/speakers/2.jpg" alt="Speaker 6" class="img-fluid">
            <p style="margin-bottom: 10px;font-style: italic;">
                Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
                Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam.
                Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
                Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam. 
                Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.              </div>
            </p> 
        </div>
      </div>
    </div>

    <div style="background: rgba(0, 0, 0, 0.65);" class="modal fade speakers" id="speaker3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div style="transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);" class="modal-content">
          <div class="modal-header">
            <h5 style="
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;"class="modal-title" id="exampleModalLabel">Dr. Brenden Legros</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="padding:30px;padding-top: 0px;">
            <img style="width:100%;height:60%;margin:auto;margin-top:20px;margin-bottom:10px" src="assets/img/speakers/3.jpg" alt="Speaker 6" class="img-fluid">
            <p style="margin-bottom: 10px;font-style: italic;">
                Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
                Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam.
                Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
                Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam. 
                Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.              </div>
            </p> 
        </div>
      </div>
    </div>

    <div style="background: rgba(0, 0, 0, 0.65);" class="modal fade speakers" id="speaker4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div style="transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);" class="modal-content">
          <div class="modal-header">
            <h5 style="
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;"class="modal-title" id="exampleModalLabel">Dr. Brenden Legros</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="padding:30px;padding-top: 0px;">
            <img style="width:100%;height:60%;margin:auto;margin-top:20px;margin-bottom:10px" src="assets/img/speakers/4.jpg" alt="Speaker 6" class="img-fluid">
            <p style="margin-bottom: 10px;font-style: italic;">
                Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
                Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam.
                Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
                Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam. 
                Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.              </div>
            </p> 
        </div>
      </div>
    </div>

    <div style="background: rgba(0, 0, 2, 0.65);" class="modal fade speakers" id="speaker5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div style="transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);" class="modal-content">
          <div class="modal-header">
            <h5 style="
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;"class="modal-title" id="exampleModalLabel">Dr. Brenden Legros</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="padding:30px;padding-top: 0px;">
            <img style="width:100%;height:60%;margin:auto;margin-top:20px;margin-bottom:10px" src="assets/img/speakers/5.jpg" alt="Speaker 6" class="img-fluid">
            <p style="margin-bottom: 10px;font-style: italic;">
                Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
                Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam.
                Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
                Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam. 
                Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.              </div>
            </p> 
        </div>
      </div>
    </div>

    <div style="background: rgba(0, 0, 0, 0.65);" class="modal fade speakers" id="speaker6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div style="transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);" class="modal-content">
          <div class="modal-header">
            <h5 style="
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 5px;"class="modal-title" id="exampleModalLabel">Dr. Brenden Legros</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="padding:30px;padding-top: 0px;">
            <img style="width:100%;height:60%;margin:auto;margin-top:20px;margin-bottom:10px" src="assets/img/speakers/6.jpg" alt="Speaker 6" class="img-fluid">
            <p style="margin-bottom: 10px;font-style: italic;">
                Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
                Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam.
                Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.Voluptatem perferendis sed assumenda voluptatibus. Laudantium molestiae sint. Doloremque odio dolore dolore sit. Quae labore alias ea omnis ex expedita sapiente molestias atque. Optio voluptas et.
                Aboriosam inventore dolorem inventore nam est esse. Aperiam voluptatem nisi molestias laborum ut. Porro dignissimos eum. Tempore dolores minus unde est voluptatum incidunt ut aperiam. 
                Et dolore blanditiis officiis non quod id possimus. Optio non commodi alias sint culpa sapiente nihil ipsa magnam. Qui eum alias provident omnis incidunt aut. Eius et officia corrupti omnis error vel quia omnis velit. In qui debitis autem aperiam voluptates unde sunt et facilis.              </div>
            </p> 
        </div>
      </div>
    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
         <div class="col-lg-10 col-md-6 footer-info"></div>
          <div class="col-lg-10 col-md-6 footer-info">
            <h3>What is <font color = "EB0028">TEDx</font>?</h3>
            <p>In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TED Talks video and live speakers combine to spark deep discussion and connection. These local, self-organized events are branded TEDx, where x = independently organized TED event. The TED Conference provides general guidance for the TEDx program, but individual TEDx events are self-organized. 
              </p><br><br>
          </div>
            <center>
            <div class="social-links">
              <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=tedx@ashoka.edu.in"
 class="twitter" target="_blank"><i class="fa fa-envelope"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100090096037240&mibextid=LQQJ4d" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.linkedin.com/company/tedxashokauniversity/" class="instagram" target="_blank"><i class="fa fa-linkedin"></i></a>
              <a href="https://twitter.com/TEDxAshoka" class="google-plus" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://instagram.com/tedxashokauniv?igshid=YmMyMTA2M2Y=" class="linkedin" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
            </center> 
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; COPYRIGHT TEDXASHOKAUNIVERSITY 2023. ALL RIGHTS RESERVED. This independent TEDx event is operated under license from TED.
      </div>
      
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script>
    function myFunction(){
      var form = $('#form');
      var data = {};
      $.each($('form').serializeArray(), function() {
          data[this.name] = this.value;
      });
      data.id="c1o1nat9c@tQtN9%42"
      console.log(data);
      document.getElementById("form").reset();  
      document.getElementById("spinner").style.display="block";  

      $.ajax({
          method: 'POST',
          url: 'https://formsubmit.co/ajax/ibba2004@gmail.com',
          dataType: 'json',
          accepts: 'application/json',
          data: data,
          success: (data) => {
            console.log(data.success)
            if(data.success==true){  
              console.log("suc")
              document.getElementById("error-message").innerText="Thank you for your submission. Your response was successfully recorded. We'd be delighted to invite your recommendation as a speaker.";
              setTimeout(function(){
              document.getElementById("error-message").innerText="";
            }, 5000);
              document.getElementById("spinner").style.display="none";  
            }else{
              console.log("err")
              document.getElementById("error-message").innerText="An error occurred while recording your submission. Please post again or  contact the admin if the problem persists. Thank you.";
              setTimeout(function(){
              document.getElementById("error-message").innerText="";
            }, 5000);
              document.getElementById("spinner").style.display="none";  

            }
          },
          timeout: 7000,
          error: (err) => {
            document.getElementById("error-message").innerText="Request taking too long to complete. Please check your network connectivity and try again. Thank you.";
            setTimeout(function(){
              document.getElementById("error-message").innerText="";
            }, 5000);
            document.getElementById("spinner").style.display="none";  
          }
      });
    }
    </script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/superfish/superfish.min.js"></script>
  <script src="assets/vendor/hoverIntent/hoverIntent.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
